
table{


    width: 800px;
    border-collapse: collapse;
}




table td{

    padding: 10px;
    border: 1px solid black;
}





table td img{

    width: 200px;
}




td{

    text-transform: uppercase;
    text-align: center;


}




a{

    color: black;
    text-decoration: none;
}

a:hover{
    color: aqua;

}


























